<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
    </configSections>
    <connectionStrings>
        <add name="SampleApp.Properties.Settings.SampleDataConnectionString"
            connectionString="Data Source=|DataDirectory|\Data\SampleData.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="SIT.ObjectComparer" switchValue="Verbose">
        <listeners>
          <remove name="Default" />
          <add name="TheConsoleListener" />
        </listeners>
      </source>
    </sources>

  <sharedListeners>
    <add name="TheConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
  </sharedListeners>
  </system.diagnostics>
  </configuration>